*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  background-color: black;
}

label {
  color: white;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  color: white;
  border: none;
  background-color: #888888;
}

input::placeholder {
  color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #333333;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #666666;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  border-radius: 4px;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 1em;
  border-radius: 5px;
}

li button:hover {
  background-color: rgba(200, 0, 0, 0.575);
}

.todos {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
